<h3>Agregar nuevo item</h3>
<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label for="name">Nombre</mat-label>
    <input matInput type="text" id="name"  maxlength="50" formControlName="name">
    @if (itemForm.get('name')?.invalid && itemForm.get('name')?.touched && itemForm.get('name')?.dirty) {
      <mat-error>{{ getErrorMessage('name') }}</mat-error>
    }
  </mat-form-field>
  <div>
    <mat-checkbox matInput id="favorite" formControlName="favorite">Marcar como favorito</mat-checkbox>
    @if (itemForm.get('favorite')?.invalid && itemForm.get('favorite')?.touched && itemForm.get('favorite')?.dirty) {
      <mat-error>{{ getErrorMessage('favorite') }}</mat-error>
    }
  </div>
  <button mat-raised-button  type="submit" [disabled]="itemForm.invalid">Guardar</button>
</form>
