<div>
    <button mat-stroked-button [ngClass]="{'selected': selectedFilter === 'all'}"
        (click)="toggleFavoriteList('all')">TO-DO</button>
    <button mat-stroked-button [ngClass]="{'selected': selectedFilter === 'favorites'}"
        (click)="toggleFavoriteList('favorites')">Favoritos</button>
</div>
@for (item of items; track $index) {
    <app-item [item]="item" (itemDeleted)="onDelete($event)" (favoriteChange)="onFavoriteChange($event)"></app-item>
} @empty {
<div>No items found</div>
}